.main-title {
	position: fixed;
	top: 15vh;
	/*background-color: red;*/
	width: 100vw;
	text-align: center;
	padding-left: 2vw;
	padding-right: 2vw;

	&__h1 {
		font-size: 5rem;
	}

	&__h2 {
		font-size: 2rem;
	}
}